{% extends 'blog/base.html' %}

{% block title %}Archives{% endblock %}

{% block content %}
    <ul>
        {% for date, entries in archives_items %}
            <li>
                {{ date.0 }}年{{ date.1 }}月
                <ul>
                    {% for entry in entries %}
                        <li>
                            <a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
